// File generated from our OpenAPI spec by Stainless.

import * as Core from 'cloudflare/core';
import { APIResource } from 'cloudflare/resource';
import * as AIAPI from 'cloudflare/resources/ai/ai';
import * as ModelAPI from 'cloudflare/resources/ai/model/model';

export class AI extends APIResource {
  model: ModelAPI.Model = new ModelAPI.Model(this._client);

  /**
   * This endpoint provides users with the capability to run specific AI models
   * on-demand.
   *
   * By submitting the required input data, users can receive real-time predictions
   * or results generated by the chosen AI model. The endpoint supports various AI
   * model types, ensuring flexibility and adaptability for diverse use cases.
   */
  run(
    accountIdentifier: string,
    modelName: string,
    body?: AIRunParams | null | undefined,
    options?: Core.RequestOptions,
  ): Core.APIPromise<AIRunResponse> {
    return this._client.post(`/apiv4/accounts/${accountIdentifier}/ai/run/${modelName}`, {
      body,
      ...options,
    });
  }
}

export interface AIRunResponse {
  errors: Array<AIRunResponse.Error>;

  messages: Array<string>;

  result: unknown;

  success: boolean;
}

export namespace AIRunResponse {
  export interface Error {
    message: string;
  }
}

export interface AIRunParams {}

export namespace AI {
  export import AIRunResponse = AIAPI.AIRunResponse;
  export import AIRunParams = AIAPI.AIRunParams;
  export import Model = ModelAPI.Model;
}
